doctype html
head
  script(src=`/assets/js/walletScript.js` defer)
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title View Wallet
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9' crossorigin='anonymous')
body
  .container
    #walletDetailsDiv.row
        .card.text-center(style='margin-top: 20px; padding: 0px')
            h5.card-header Wallet Details
            .card-body
                .row
                    .col-6
                        h5 Wallet Name
                        #walletName 
                    .col-6
                        h5 Wallet Balance
                        #walletBalance 
    #walletInputDiv.row.card.my-4.py-3
        form#walletDetailsForm
            .mb-3
                label.form-label(for='inputWalletName') Wallet Name
                input#inputWalletName.form-control(type='text' aria-describedby='walletHelp' name='walletName')
                #walletHelp.form-text Enter your wallet name
            .mb-3
                label.form-label(for='inputBalance') Initial Balance
                input#inputBalance.form-control(type='text' name='walletBalance')
            button#walletsubmitbtn.btn.btn-primary(type='submit') Submit
    #transactionDiv.row.card.my-4.py-3
        form#transactionForm
            .mb-3
                label.form-label(for='inputTransactionAmt') Transaction Amount
                input#inputTransactionAmt.form-control(type='number' aria-describedby='transactionHelp' name='transactionAmt')
                #transactionHelp.form-text
                | Enter Amount for transaction
            .mb-3
                label.form-label(for='transactionAmt') Transaction Name
                input#transactionAmt.form-control(type='text' name='transactionName')
            .form-check
                input#transactionCredit.form-check-input(type='radio' name='transactionType' checked)
                label.form-check-label(for='transactionCredit')
                | CREDIT
            .form-check
                input#transactionDebit.form-check-input(type='radio' name='transactionType' )
                label.form-check-label(for='transactionDebit')
                | DEBIT
            button.btn.btn-primary(type='submit') Submit
        
