doctype html
head
  script(src=`/assets/js/walletScript.js` defer)
  link(rel='stylesheet' href=`/assets/css/bootstrap.css`)
  link(rel='stylesheet' href=`/assets/css/style.css`)
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title View Wallet Details
body
  .container
    button#errormodalshow.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal' style='display: none;') Launch demo modal
    // Modal
    .custom-model-main-walletError
        .custom-model-inner
            .close-btn-1 &times;
            .custom-model-wrap
                #errortext.pop-up-content-wrap
                    | Please enter correct details
        .bg-overlay-1
    
    



    #walletDetailsDiv.row
        .card.text-center(style='margin-top: 20px; padding: 0px')
            h5.card-header Wallet Details
            .card-body
                .row
                    .col-6
                        h5 Wallet Name
                        #walletName 
                    .col-6
                        h5 Wallet Balance
                        #walletBalance 
    #walletInputDiv.row.card.my-4.py-3
        form#walletDetailsForm
            .mb-3
                label.form-label(for='inputWalletName') Wallet Name
                input#inputWalletName.form-control(type='text' aria-describedby='walletHelp' name='walletName')
                #walletHelp.form-text Enter your wallet name
            .mb-3
                label.form-label(for='inputBalance') Initial Balance
                input#inputBalance.form-control(type='number' name='walletBalance')
            button#walletsubmitbtn.btn.btn-primary(type='submit') Submit
    #transactionDiv.row.card.my-4.py-3
        h5.card-header New Transaction
        .card-body
            form#transactionForm
                .mb-3
                    label.form-label(for='inputTransactionAmt') Transaction Amount
                    input#inputTransactionAmt.form-control(type='number' aria-describedby='transactionHelp' name='transactionAmt')
                    #transactionHelp.form-text
                    | Enter Amount for transaction
                .mb-3
                    label.form-label(for='transactionName') Transaction Name
                    input#transactionName.form-control(type='text' name='transactionName')
                .form-check
                    input#transactionCredit.form-check-input(type='radio' name='transactionType' value='CREDIT' checked)
                    label.form-check-label(for='transactionCredit')
                    | CREDIT
                .form-check
                    input#transactionDebit.form-check-input(type='radio' name='transactionType' value='DEBIT')
                    label.form-check-label(for='transactionDebit')
                    | DEBIT
                button.btn.btn-primary(type='submit') Submit
        
